/* Empty. Add your own CSS if you like */

.browser{
	background-color: #3093b3;
}

.btn_browser {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color:#1d4a2a;
    color: #fff;
    border: none;
    height: 30px;
    width: 100px;
    text-align: center;
}
